<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <IberFabric>
      <!-- Este access token es valido hasta 13/03/2018-->
      <!-- Pertenece al usuario de Alvaro Guadamillas 50997032@ibercaja.es-->
      <!-- Más info: https://www.visualstudio.com/en-us/docs/package/nuget/auth -->
      <add key="Username" value="ibfabric_rlsrv_pru" />
      <add key="ClearTextPassword" value="4ssad2h7jnwjhelnnvmkka7t2gtmksnbgl2gr7dhaohercqp7iua" />
    </IberFabric>
  </packageSourceCredentials>
</configuration>